@media screen and (min-width: 901px) {
	#block-bartik-sitebranding {
		width: 100%; /* Allows scattering container items to edges */
	}

	.site-branding__logo {
		float: left; /* right for LTR */
	}

	.site-branding__text {
		float: right; /* left for LTR */
	}	
}
