/* Sidebar region borders and margins */

.region--sidebar .block {
	border-bottom: 2px solid #2494db;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 40px;
	padding-bottom: 40px;
}

.region--sidebar .block:first-child {
	padding-top: 0;
	border-top: none;
}

.region--sidebar .block:last-child {
	border-bottom: none;
	padding-bottom: 0;
}
