.box:after {
	content: "";
	position: absolute;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-bottom: 12px solid #146f79;
	transform: rotate(-45deg);
	right: 3%;
	top: 3%;
	background: linen;
}
